.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #87c4b8;
  }
  .nav-menu{
    display: flex;
    gap: 50px;
    margin-right: 60px;
  }
  .navbar a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  }